#chat_frame {
    border: 1px solid black;
    border-radius: 5px;
    height: 80vh;
}
#conversation_list {
    border: 1px solid black;
    height: 100%;
    padding: 0;
    overflow: auto;
}
#conversation {
    border: 1px solid black;
    height: 100%;
    padding: 0;
}
#new_connect {
    border: 1px solid black;
    height: 50px;
}
#message {
    border: 1px solid black;
    height: 500px;
    overflow: auto;
    scroll-padding-bottom: 100px;
}
#send_message_form {
    float: bottom;
    border: 1px solid black;
    height: 40px;
}
#welcome_message *{
    margin: 10px;
    width: auto;
    display: inline-block;
}
#send_chat * {
    margin-top: 2px;
    margin-right: 10px;
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.container{
    align-content: center;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}
.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
