div {

}
#header div{
    height: 80px;
}

body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.inline {
    white-space: nowrap;
}

.left_item {
    float: left;
}

.right_item {
    float: right;
}

.top-buffer {
    margin-top: 90px;
}

#msg {
    background-color: yellow;
    display: inline-block;
}
